openapi: 3.0.1
info:
  title: Urjanet Utility Cloud Authentication Credentials & Connections API
  description: REST API for the Urjanet (now part of Arcadia) utility-data aggregation platform, also branded as the Arcadia "Arc" / Utility Cloud platform. The API lets you connect end-user utility account credentials and retrieve normalized utility data — statements/bills, meters, sites, and usage — across thousands of utility providers. Endpoints below reflect resource paths described in Arcadia's public Utility Cloud API documentation; request and response schemas are not fully published and are intentionally left unspecified rather than fabricated. Verify against the official reference at https://docs.arcadia.com/v1.0-Utility-Cloud/reference/introduction before use.
  termsOfService: https://urjanet.com/terms-of-service/
  contact:
    name: Arcadia / Urjanet Support
    url: https://docs.arcadia.com/v1.0-Utility-Cloud/reference/introduction
  version: '1.0'
servers:
- url: https://api.urjanet.com
  description: Urjanet / Arcadia Utility Cloud production API base URL.
security:
- bearerAuth: []
tags:
- name: Credentials & Connections
paths:
  /utility/providers:
    get:
      operationId: listProviders
      tags:
      - Credentials & Connections
      summary: List or search utility providers
      description: Query the list of supported utility providers, or search for a specific provider by name. Response schema not publicly documented in full.
      parameters:
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Optional search term to filter providers.
      responses:
        '200':
          description: A list of matching utility providers.
  /utility/credentials:
    post:
      operationId: createCredential
      tags:
      - Credentials & Connections
      summary: Submit utility account credentials
      description: Submit end-user utility account login credentials so the platform can connect to the utility provider and begin collecting data. Request schema not publicly documented in full.
      responses:
        '200':
          description: The created credential / connection record.
  /utility/sites:
    get:
      operationId: listSites
      tags:
      - Credentials & Connections
      summary: List or search sites
      description: Query or search the sites (locations) organizing utility data. Response schema not publicly documented in full.
      parameters:
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Optional search term to filter sites.
      responses:
        '200':
          description: A list of sites.
    post:
      operationId: createSite
      tags:
      - Credentials & Connections
      summary: Create a site
      description: Create a site (location) to organize utility data for a specific location. Request schema not publicly documented in full.
      responses:
        '200':
          description: The created site.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token obtained from POST /auth/login, sent in the Authorization header as "Bearer {token}".
