openapi: 3.2.0
info:
  title: Urjanet Utility Cloud Meters API
  description: REST API for the Urjanet (now part of Arcadia) utility-data aggregation platform, also branded as the Arcadia "Arc" / Utility Cloud platform.
  termsOfService: https://urjanet.com/terms-of-service/
  contact:
    name: Arcadia / Urjanet Support
    url: https://docs.arcadia.com/v1.0-Utility-Cloud/reference/introduction
  version: '1.0'
servers:
- url: https://api.urjanet.com
  description: Urjanet / Arcadia Utility Cloud production API base URL.
security:
- bearerAuth: []
tags:
- name: Meters
paths:
  /utility/meters:
    get:
      operationId: listMeters
      tags:
      - Meters
      summary: List utility meters
      description: List utility meters and service points associated with connected accounts and sites. Response schema not publicly documented in full.
      responses:
        '200':
          description: A list of utility meters.
  /utility/meters/{meterId}:
    patch:
      operationId: updateMeter
      tags:
      - Meters
      summary: Update a utility meter
      description: Update attributes of a specific utility meter. Request schema not publicly documented in full.
      parameters:
      - name: meterId
        in: path
        required: true
        schema:
          type: string
        description: Identifier of the meter to update.
      responses:
        '200':
          description: The updated meter.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token obtained from POST /auth/login, sent in the Authorization header as "Bearer {token}".
